{% extends "mapping/base.html" %}
{% block page_name %}
    {% if object.pk %}
    Editing Dependency
    {% else %}
    Add Dependency
    {% endif %}
{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary" type="submit" value="{% if object.pk %}Save{% else %}Create{% endif %}" />
</form>
{% endblock %}

{% block page_actions %}
        <a class="btn btn-primary btn-xs" href="{% url 'workspace-detail' workspace %}">Back to workspace</a>
        {% if object.pk %}
            <a class="btn btn-danger btn-xs" href="{% url 'delete-dependency' workspace object.pk %}">Delete
        </a>
        {% endif %}
{% endblock %}