{% extends "mapping/base.html" %}
{% block page_name %}
    {% if object.pk %}
    Editing Dependency
    {% else %}
    Add Dependency
    {% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="box">
            <div class="box-body">
                <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-primary" type="submit" value="{% if object.pk %}Save{% else %}Create{% endif %}" />
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block page_actions %}
        <a class="btn btn-primary btn-xs" href="{% url 'workspace-detail' workspace %}">Back to workspace</a>
        {% if object.pk %}
            <a class="btn btn-danger btn-xs" href="{% url 'delete-dependency' workspace object.pk %}">Delete
        </a>
        {% endif %}
{% endblock %}