{% extends "mapping/base.html" %}

{% block page_name %}{{ object.type|title }}: {{ object }}{% endblock %}
{% block page_description %}
    {% if object.notes %}
        <p>{{ object.notes }}</p>
    {% endif %}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">Direct Dependencies ({{ object.dependencies.count }})</h2>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup object.depends_on.all by item2.type as dependencies %}
                        {% for type in dependencies %}
                        {% for link in type.list %}
                        <tr>
                            <td>{{ type.grouper }}</td>
                            <td><a href="{{ link.item2.get_absolute_url }}">{{ link.item2.label }}</a></td>
                            <td>{{ link.description }}</td>
                        </tr>
                        {% endfor %}
                        {% empty %}
                        <tr>
                            <td colspan="3">None</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">Full Dependency Tree</h2>
            </div>
            <div class="box-body">
                <div class="graph">
                    {{ object.full_dependency_graph|safe }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">Direct Supports ({{ object.direct_supports.count }})</h2>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup object.supports.all by item1.type as supports %}
                        {% for type in supports %}
                        {% for link in type.list %}
                        <tr>
                            <td>{{ type.grouper }}</td>
                            <td><a href="{{ link.item1.get_absolute_url }}">{{ link.item1.label }}</a></td>
                            <td>{{ link.description }}link</td>
                        </tr>
                        {% endfor %}
                        {% empty %}
                        <tr>
                            <td colspan="3">None</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header with-border">
                <h2 class="box-title">Full Support Tree</h2>
            </div>
            <div class="box-body">
                <div class="graph">
                    {{ object.full_support_graph|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_actions %}
<a class="btn btn-primary btn-xs" href="{% url 'workspace-detail' object.workspace.slug %}">Back to workspace</a>
<a class="btn btn-primary btn-xs" href="{% url 'update-item' object.workspace.slug object.slug %}">Edit</a>
<a class="btn btn-danger btn-xs" href="{% url 'delete-item' object.workspace.slug object.slug %}">Delete</a>
{% endblock %}